*,
*::before,
*::after {
    box-sizing: border-box;
}
:root{

    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #16e0bd;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
          0.125em 0.125em 0.25em rgba(0,0,0,.15);
}
html{
    scroll-behavior: smooth;
}
body{
    margin:0;

    background: #f2f2f2;
}
.imp{
    color:var(--clr-accent);
    text-align: center;
}
/* buttons and links styling  */
.button-group{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    padding:6px;
    margin:0;
}
.button, .link{
    text-decoration:none;
    padding:6px 8px;
    background: var(--clr-accent);
    width:50%;
    border:none;
    margin: 2px;
    border-radius: 4px;

}
.button:hover, .link:hover{
    opacity:0.7;
}
/* styling of images */
img{
    padding:12px 12px;
    display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 50%;
  box-shadow: var(--bs);
}
@media screen and (max-width: 1000px){
    img{max-width:100%;}
}

/* footer */
.footer{margin-top:12px;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    padding:12px;
    background: var(--clr-accent);
}